<mat-card>
  <mat-card-header>
    <mat-card-title>
        <h1><i class="bi bi-stack-overflow"></i>Stackoverflow</h1>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="form-fields">
        <form [formGroup]="loginFormGroup">

          <mat-form-field appearance="fill">
            <mat-label>Username</mat-label>
            <input matInput formControlName="username" type="text" required>
            <mat-error *ngIf="loginFormGroup.get('username')?.hasError('required')">
              Username is required
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Password</mat-label>
            <input matInput formControlName="password" [type]="hidePassword ? 'password' : 'text'">
            <mat-error *ngIf="loginFormGroup.get('password')?.hasError('required')">
                Password is required
            </mat-error>
            <!-- [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassword"-->
            <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword">
              <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>

          <button class="login-button" type="submit" mat-raised-button color="primary" (click)="loginUser()" keyup.enter="loginUser()">Login</button>
        </form>
    </div>
  </mat-card-content>
</mat-card>
