<mat-card class="filter-bar filters">
  <div class="half-width filters">
    <div>
      <p>
        <mat-checkbox [formControl]="onlyMyQuestions" (click)="filterQuestions(tagFilter.value, userFilter.value)">Only my questions</mat-checkbox>
      </p>
    </div>

    <div class="input">
      <mat-form-field>
        <mat-label>Filter by tag</mat-label>
        <mat-select #tagFilter [disabled]="onlyMyQuestions.value" [(value)]="selectedTag" (selectionChange)="filterQuestions($event.value, userFilter.value)">
          <mat-option *ngFor="let tag of filterTags" value={{tag}}>{{tag}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="input">
      <mat-form-field>
        <mat-label>Filter by user</mat-label>
        <mat-select #userFilter [disabled]="onlyMyQuestions.value" [(value)]="selectedUsername" (selectionChange)="filterQuestions(tagFilter.value, $event.value)">
          <mat-option *ngFor="let username of filterUsernames" value={{username}}>{{username}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>

  <div class="add-question-button half-width">
    <button mat-raised-button (click)="toggleQuestionInsert()">Add Question</button>
  </div>

</mat-card>

<div *ngIf="enableQuestionInsert" class="question-insert">
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        Insert question
      </mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <form [formGroup]="questionInsertFormGroup" class="question-form">
        <mat-form-field>
          <mat-label>Title</mat-label>
          <input formControlName="title" matInput required placeholder="Title">
          <mat-error *ngIf="questionInsertFormGroup.get('title')?.hasError('required')">
              Title is required
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Text</mat-label>
          <textarea matInput placeholder="Text..."
                    cdkTextareaAutosize
                    cdkAutosizeMinRows="1"
                    cdkAutosizeMaxRows="8"
                    required
                    formControlName="text"></textarea>
          <mat-error *ngIf="questionInsertFormGroup.get('text')?.hasError('required')">
            Text is required
          </mat-error>
        </mat-form-field>

        <input class="file-input" type="file" (change)="onFileSelected($event)" #fileUpload>
        <div class="file-upload">
          <button class="upload-btn" (click)="fileUpload.click()">
            <i class="bi bi-images"></i>
          </button>
          <span *ngIf="fileName===''" class="error">A question photo must be selected</span>
          <span *ngIf="fileName!==''">{{fileName}}</span>
        </div>

        <div class="tag-select">
          <div style="width:90%">
            <mat-form-field class="tag-form-field">
              <mat-label>Tags</mat-label>
              <mat-select multiple required formControlName="tags">
                <mat-option *ngFor="let tag of tags" [value]="tag.id">{{tag.tagName}}</mat-option>
              </mat-select>
              <mat-error *ngIf="questionInsertFormGroup.get('tags')?.hasError('required')">
                One or more tags are required
              </mat-error>
            </mat-form-field>
          </div>
          <div class="plus-button">
            <button mat-raised-button (click)="toggleTagInsert()">New</button>
          </div>
        </div>
        <div class="tag-insert" *ngIf="enableInsertTag">
            <div>
              <mat-form-field style="margin-bottom: -10px">
                <mat-label>New Tag</mat-label>
                <input [formControl]="newTag" matInput placeholder="Tag name">
              </mat-form-field>
              <mat-error *ngIf="newTag.errors?.['pattern']">
                Tag name cannot contain spaces
              </mat-error>
            </div>
            <button mat-raised-button (click)="addTag()" class="insert-btn">Insert</button>
        </div>

        <div class="add-question-button">
          <button mat-raised-button (click)="insertQuestion()">Submit</button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>

<h2 *ngIf="displayedQuestions.length === 0">There are no questions to be displayed</h2>

<div *ngFor="let question of displayedQuestions">
    <mat-card routerLink="./{{question.id}}" routerLinkActive="active-link" class="question-card">
      <mat-card-header>
        <mat-card-title-group>
          <mat-card-title>
            <a routerLink="./{{question.id}}" routerLinkActive="active-link">{{question.title}}</a>
          </mat-card-title>
          <mat-card-subtitle>
            <p>{{question.user.username}}</p>
            <span style="font-style: italic">{{question.creationDateTime | date:'medium'}}</span>
          </mat-card-subtitle>
          <img mat-card-sm-image src="assets/images/demo_photo.jpg" >
        </mat-card-title-group>
      </mat-card-header>

      <mat-card-content>
        {{question.text}}
      </mat-card-content>

      <mat-card-actions>
        <div *ngFor="let tag of question.tagNames">
          <button mat-button class="tag">{{tag}}</button>
        </div>
      </mat-card-actions>
    </mat-card>
</div>
